<div class="col-4 my-2">
  <section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <%# <img src="https://picsum.photos/id/1011/800/450" alt="" /> %>
          <%= image_tag property.photos.first %>
        </figure>
        <div class="article-body">
          <h2><%= property.title.truncate(15) %></h2>
          <p>
            <%= property.description.truncate(20) %>
          </p>
          <div>
            <%= link_to "Ver mas", property_path(property), class: "btn btn-success", id:"show-#{property.id}" %>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
