<div id="footer">
  <div class="container text-center">

    <hr>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-8">
        <p>© 2023 DATAPROP ASSIGMENT by Stefano Amodei, with Le Wagon UI Kit: <a href="http://" target="_blank" rel="noopener noreferrer">https://uikit.lewagon.com/</a></p>
      </div>
      <div class="col-2"></div>
    </div>

  </div>
</div>
